:root {
    --text-primary: #403F3D;
    --text-inverse: #E1D4C9;
    --text-accent:  #B0907A;

    --bg-page:      #E1D4C9;
    --bg-container: #665F55;
    --bg-overlay:   rgba(64, 63, 61, 0.8);

    --border-primary: #C1B6AD;
    --border-inverse: #665F55;

    --indent-base: 20px;
    --indent-xl: calc(var(--indent-base) * 4); /* 80px */
    --indent-l: calc(var(--indent-base) * 2);  /* 40px */
    --indent-s: calc(var(--indent-base) / 2);  /* 10px */
    --indent-xs: calc(var(--indent-base) / 4); /* 5px */

}

:root[data-theme="dark"] {
    --text-primary: #E1D4C9;
    --text-inverse: #E1D4C9;
    --text-accent:  #B0907A;

    --bg-page:      #292826;
    --bg-container: #403F3D;
    --bg-overlay:   rgba(41, 40, 38, 0.8);

    --border-primary: #665F55;
    --border-inverse: #C1B6AD;
}

[data-theme="light"] {
    .logo__icon--dark {
        display: none;
    }

    .switch-theme__icon--dark {
        background-color: transparent;
    }
}

[data-theme="dark"] {
    .logo__icon--light {
        display: none;
    }

    .switch-theme__icon--light {
        background-color: transparent;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: var(--bg-page);
    color: var(--text-primary);
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
    padding-bottom: var(--indent-xs);
    outline: none;
    &:hover {
        color: inherit;
        text-decoration: none;
        border-color: var(--text-primary);
    }

    svg {
        min-width: 20px;
        width: 20px;
        color: var(--text-primary);
    }
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 0 var(--indent-base);
    margin: 0 auto;
}

.italic {
    color: var(--text-accent);
    font-style: italic;
}

.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 5px;
    max-width: 200px;
    width: 100%;
    height: 64px;
    background-color: var(--bg-page);
    color: var(--text-primary);
    border-radius: 100px;
    border: none;

    svg {
        visibility: hidden;
    }

    &:hover {
        color: var(--text-primary);
        svg {
            visibility: visible;
        }
    }
}

.header {
    padding: var(--indent-base) 0;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 0 calc(2 * var(--indent-base));
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 0 var(--indent-base);
}

.logo {
    border: none;
}

.nav {
    flex-grow: 1;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 calc(2 * var(--indent-base));
}

.nav__link {
    
}

.switch-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 var(--indent-xs);
    border-radius: 100px;
    margin: 0;
    border: 1px solid var(--border-primary);
    width: 88px;
    height: 44px;
    padding: var(--indent-xs);
    background-color: transparent;
    cursor: pointer;
}

.switch-theme__icon {
    border-radius: 50%;
    background-color: var(--text-accent);
    color: var(--text-inverse);
    padding: 7px;
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--bg-container);
        color: var(--text-inverse);
    }
}

.switch-theme__icon--dark {
    color: var(--text-primary);
}

.menu {
    display: flex;
    align-items: center;
    gap: 0 var(--indent-xs);
}

.hero {
    background-image: url(./../images/img-hero.png);
    min-height: 644px;
    background-size: cover;
    border-radius: 40px;
    display: flex;
    align-items: center;

    padding-left: clamp(var(--indent-base), 5vw, var(--indent-xl));
    padding-right: clamp(var(--indent-base), 5vw, var(--indent-xl));
}

.hero__inner {
    max-width: 530px;
    width: 100%;
    color: var(--text-inverse);
}

.hero__title {
    font-size: 72px;
    line-height: 105%;
    margin-bottom: var(--indent-l);
}

.hero__text {
    line-height: 150%;
    margin-bottom: var(--indent-l);
}
